
<div class= "container">

    <div class = "col-lg-12 block">
        <h4> Filters </h4><hr>
        <div class = "form-row ">
            <div class = "form-group col-md-4">
                <label for = "team"> Team: </label>
                <select style="float: right;width: 172px;" ng-disabled = "role==='user' || role === 'lead'" ng-model="searchForm.team" ng-options="team for team in teams" ng-change="loadTracks()"></select>
            </div>
            <div class = "form-group col-md-4">
                <label for = "track"> Track: </label>
                <select style="float: right;width: 172px;" ng-disabled = "role==='user'"ng-model="searchForm.track" ng-options="track for track in tracks" ng-change="loadUsers()"></select>
            </div>
        </div>
        <div class= "form-row">
            <div class = "form-group col-md-4">
                <label for = "sprint"> Sprint Number: </label>
                <input style="float:right" type ="text" placeholder="Sprint number" name = "sprint" id ="sprint" ng-model = "searchForm.sprint">
            </div>
            <div class = "form-group col-md-4">
                <label for = "startDate"> Type </label>
                <select style="float: right;width: 172px;" ng-model="searchForm.type" ng-options="type for type in types" ></select>
            </div>
        </div>
        <section>
            <button style= "float:right" class = "btn btn-primary floatright" ng-click="submit()">Search </button>
        </section>
    </div>

    <div id = "myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Ups and Downs</h4>
            </div>
            <div class="modal-body">
                <div class = "form-group row">
                    <label class = "col-lg-3" for = "type">Type</label>
                    <select class = "col-lg-3" ng-model ="editingRow.type" ng-options="type for type in types">{{type}}</select>
                    <span class ="error_message" ng-if="editingRow.type=== ''"> Type can not be empty</span>
                </div>
                <div class = "form-group row">
                    <label class = "col-lg-3" for = "activity"> Description</label>
                    <textarea class = "col-lg-6" ng-model="editingRow.val" maxlength="90" placeholder="Enter Up or Down here"></textarea>
                    <span class ="error_message" ng-if="editingRow.val=== ''"> {{editingRow.type}} can not be empty</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-disabled = "editingRow.type === '' || editingRow.val===''" data-dismiss="modal" ng-click = "submitEditForm()" type="button" class="btn btn-primary">Update</button>
            </div>
            </div>
        </div>
    </div>

    <div class = "col-lg-12 block">
        <h4> Search Results <button ng-if="searchResults && searchResults.length>0" style = "float:right; font-weight:bold; font-size: 13px" ng-click = "exportToExcel()">Export to Excel</button></h4> <hr>
        <table id= "pmetrics" class="table table-striped">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Track</th>
                    <th>Sprint</th>
                    <th>StartDate</th>
                    <th>End Date</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in searchResults">
                    <td>{{entry.team.substring(0,16)}}</td>
                    <td>{{entry.track.substring(0,16)}}</td>
                    <td>{{entry.sprint}}</td>
                    <td>{{entry.startDate}}</td>
                    <td>{{entry.endDate}}</td>
                    <td>{{entry.type}}</td>
                    <td>{{entry.val}}</td>
                    <td>
                        <button style = "padding:0" data-target="#myModal" data-toggle="modal" class = "btn btn-link floatright" ng-click="editRow(entry)">Edit</button>
                        <button style = "padding:0" class = "btn btn-link floatright" ng-click= "deleteRow(entry.id)">Delete</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>